n8n/medical_triage_intake.json
{
  "name": "Medical Triage Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medical-triage",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1c9f9a1-0001-4c3a-9f0b-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "medical-triage-intake"
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body ?? $json;\nconst message = String(input.message ?? input.text ?? input.caption ?? '').trim();\nconst chatId = String(input.chat_id ?? input.chatId ?? input.from?.id ?? '').trim();\n\nreturn [\n  {\n    json: {\n      message,\n      channel: String(input.channel ?? 'telegram'),\n      chat_id: chatId,\n      phone_number: input.phone_number ?? input.phoneNumber ?? null,\n      preferred_language: input.preferred_language ?? input.preferredLanguage ?? null,\n      facility_location: input.facility_location ?? input.facilityLocation ?? null,\n      offline_mode: Boolean(input.offline_mode ?? input.offlineMode ?? false),\n      message_length: message.length\n    }\n  }\n];"
      },
      "id": "b1c9f9a1-0002-4c3a-9f0b-000000000002",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "b1c9f9a1-0003-a",
              "leftValue": "={{ $json.message_length }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            },
            {
              "id": "b1c9f9a1-0003-b",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1c9f9a1-0003-4c3a-9f0b-000000000003",
      "name": "Valid Input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":false,\"status\":\"error\",\"message\":\"Please send a longer symptom description and include chat_id.\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b1c9f9a1-0004-4c3a-9f0b-000000000004",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1020,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TRIAGE_API_URL || 'https://medical-triage-j8fm.onrender.com/triage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: $json.message, channel: $json.channel, chat_id: $json.chat_id, phone_number: $json.phone_number, preferred_language: $json.preferred_language, facility_location: $json.facility_location, offline_mode: $json.offline_mode } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "b1c9f9a1-0005-4c3a-9f0b-000000000005",
      "name": "Call FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1020,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "b1c9f9a1-0006-4c3a-9f0b-000000000006",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1280,
        220
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Valid Input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Input?": {
      "main": [
        [
          {
            "node": "Call FastAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call FastAPI": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "pinData": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "medical"
    },
    {
      "name": "nigeria"
    }
  ]
}
