n8n/medical_triage_intake.json
{
  "name": "Medical Triage Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medical-triage",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1c9f9a1-0001-4c3a-9f0b-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "medical-triage-intake"
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body ?? $json;\nconst message = String(input.message ?? input.text ?? input.caption ?? '').trim();\nconst chatId = String(input.chat_id ?? input.chatId ?? input.from?.id ?? '').trim();\n\nreturn [\n  {\n    json: {\n      message,\n      channel: String(input.channel ?? 'telegram'),\n      chat_id: chatId,\n      phone_number: input.phone_number ?? input.phoneNumber ?? null,\n      preferred_language: input.preferred_language ?? input.preferredLanguage ?? null,\n      facility_location: input.facility_location ?? input.facilityLocation ?? null,\n      offline_mode: Boolean(input.offline_mode ?? input.offlineMode ?? false),\n      message_length: message.length\n    }\n  }\n];"
      },
      "id": "b1c9f9a1-0002-4c3a-9f0b-000000000002",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "b1c9f9a1-0003-a",
              "leftValue": "={{ $json.message_length }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            },
            {
              "id": "b1c9f9a1-0003-b",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1c9f9a1-0003-4c3a-9f0b-000000000003",
      "name": "Valid Input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":false,\"status\":\"error\",\"message\":\"Please send a longer symptom description and include chat_id.\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b1c9f9a1-0004-4c3a-9f0b-000000000004",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1020,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TRIAGE_API_URL || 'https://medical-triage-j8fm.onrender.com/triage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: $json.message, channel: $json.channel, chat_id: $json.chat_id, phone_number: $json.phone_number, preferred_language: $json.preferred_language, facility_location: $json.facility_location, offline_mode: $json.offline_mode } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "b1c9f9a1-0005-4c3a-9f0b-000000000005",
      "name": "Call FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1020,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $json;\nconst mode = String(r.user_mode ?? 'patient');\nconst urgency = String(r.urgency_level ?? 'standard').toLowerCase();\nconst score = r.urgency_score ?? '?';\nconst ticket = r.ticket_id ?? 'N/A';\nconst report = r.triage_report ?? {};\nconst diff = Array.isArray(r.differential) && r.differential.length ? r.differential.slice(0, 3).join(', ') : 'Not available';\nconst actionMap = {\n  emergency: 'Go to A&E immediately. Call 112 now.',\n  urgent: 'See a doctor within 24 hours.',\n  standard: 'Book a clinic appointment this week.',\n  'self-care': 'Manage at home with the guidance below.'\n};\n\nconst summary = [\n  'TRIAGE COMPLETE',\n  '',\n  `Ref: ${ticket}`,\n  `Urgency: ${urgency.toUpperCase()} (${score}/10)`,\n  `Likely causes: ${diff}`,\n  `ACTION: ${actionMap[urgency] || 'See a doctor.'}`,\n  '',\n  'DISCLAIMER: This is not a substitute for professional medical advice.'\n].join('\\n');\n\nconst reportText = mode === 'clinician'\n  ? String(report.clinician_report ?? report.patient_report ?? 'Report unavailable')\n  : String(report.patient_report ?? report.emergency_response ?? 'Report unavailable');\n\nconst nutrition = urgency === 'self-care' && r.nutrition_advice\n  ? `\\n\\nNIGERIAN NUTRITION ADVICE:\\n${r.nutrition_advice}`\n  : '';\n\nconst progress = urgency === 'self-care'\n  ? '\\n\\nPROGRESS CHECK: You will receive a check-in message in 24 hours.'\n  : '';\n\nconst disclaimer = '\\n\\nDISCLAIMER: This is not a substitute for professional medical advice. Always consult a qualified healthcare provider.';\nconst shouldSendTelegram = Boolean(r.chat_id) && String(r.channel ?? 'telegram').toLowerCase() === 'telegram';\n\nreturn [{\n  json: {\n    chat_id: r.chat_id ?? '',\n    summary,\n    report_text: `${reportText}${nutrition}${progress}${disclaimer}`,\n    should_send_telegram: shouldSendTelegram,\n    ticket_id: ticket,\n    urgency_level: urgency,\n    response_status: r.status ?? 'complete'\n  }\n}];"
      },
      "id": "b1c9f9a1-0007-4c3a-9f0b-000000000007",
      "name": "Prepare Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "b1c9f9a1-0008-a",
              "leftValue": "={{ $json.should_send_telegram }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "options": {
            "convertTypes": true
          }
        }
      },
      "id": "b1c9f9a1-0008-4c3a-9f0b-000000000008",
      "name": "Send Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        220
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.summary }}",
        "additionalFields": {}
      },
      "id": "b1c9f9a1-0009-4c3a-9f0b-000000000009",
      "name": "Telegram Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        120
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.report_text }}",
        "additionalFields": {}
      },
      "id": "b1c9f9a1-0010-4c3a-9f0b-000000000010",
      "name": "Telegram Full Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, status: $('Prepare Delivery').item.json.response_status || 'complete', ticket_id: $('Prepare Delivery').item.json.ticket_id, urgency_level: $('Prepare Delivery').item.json.urgency_level, message: 'Triage request received and processed.' } }}",
        "options": {}
      },
      "id": "b1c9f9a1-0011-4c3a-9f0b-000000000011",
      "name": "Return Telegram Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, status: $json.response_status || 'complete', ticket_id: $json.ticket_id, urgency_level: $json.urgency_level, message: 'Triage request received and processed.' } }}",
        "options": {}
      },
      "id": "b1c9f9a1-0012-4c3a-9f0b-000000000012",
      "name": "Return API Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        520
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Valid Input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Input?": {
      "main": [
        [
          {
            "node": "Call FastAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call FastAPI": {
      "main": [
        [
          {
            "node": "Prepare Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delivery": {
      "main": [
        [
          {
            "node": "Send Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram?": {
      "main": [
        [
          {
            "node": "Telegram Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return API Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Summary": {
      "main": [
        [
          {
            "node": "Telegram Full Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Full Report": {
      "main": [
        [
          {
            "node": "Return Telegram Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "pinData": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "medical"
    },
    {
      "name": "nigeria"
    }
  ]
}
