n8n/telegram_chatbot_intake.json
{
  "name": "Medical Triage Telegram LLM Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const tgMessage = $json.message ?? $json.edited_message ?? $json;\nconst chatId = String(tgMessage?.chat?.id ?? tgMessage?.from?.id ?? '').trim();\nconst text = String(tgMessage?.text ?? tgMessage?.caption ?? '').trim();\nconst firstName = String(tgMessage?.from?.first_name ?? '').trim();\nconst languageCode = String(tgMessage?.from?.language_code ?? '').trim() || null;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    message: text,\n    channel: 'telegram',\n    user_name: firstName || null,\n    preferred_language: languageCode,\n    phone_number: null,\n    facility_location: null\n  }\n}];"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://medical-triage-j8fm.onrender.com/chatbot/telegram",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "call-backend",
      "name": "Call Chatbot Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        790,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply_text }}",
        "additionalFields": {}
      },
      "id": "send-reply",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Call Chatbot Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Chatbot Backend": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "pinData": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "medical"
    },
    {
      "name": "telegram"
    }
  ]
}
